<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /OnlineStoreAPI/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ OnlineStoreAPI.php?request=$1 [QSA,L]
</IfModule>